@import '../../sass-import-once';

@import '../../styles-structure.scss';
@import '../../spinner/structure.scss';

@include exports('user-profile-structure') {
  .user-profile {
    align-content: stretch;
    align-items: stretch;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    text-align: center;
    width: 100%;

    .user-profile-container {
      label, input {
        margin-bottom: 1em;
      }
    }

    .error {
      font-size: 22px;
    }

    .message-container {
      max-width: 500px;
    }

    .profile-container, .bookmarks-container {
      padding: 1em;
    }

    .profile-container {
      position: relative;
      width: 30%;
    }

    .bookmarks-container {
      position: relative;
      width: 70%;

      .bookmarks-list-container {
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      .bookmark-item {
        display: flex;
        margin-bottom: 1em;

        a {
          color: white;
        }
      }
    }

    h1 {
      font-weight: 300;
      margin: 0 0 20px;
    }

    label, .label {
      display: block;
      margin: 0 0 15px;
      text-align: left;
    }

    .label {
      font-size: 22px;
    }

    input {
      border: 0;
      display: inline-block;
      font-size: 16px;
      line-height: 58px;
      margin: 0 0 10px;
      outline: none;
      padding: 0 20px;
      width: calc(100% - 40px);
    }

    a {
      display: block;
      margin: 0px;
    }
  }
}