@import '../../sass-import-once';

@import '../../styles-skin.scss';

@include exports('user-sign-in-skin') {
  .user-sign-in {
    background-color: #0e141a;

    .btn-container .btn {
      &.btn-google {
        background-color: #4285f4;
      }

      &.btn-google:hover {
        background-color: rgba(66,133,244, 0.8);
      }

      &.btn-github {
        background-color: rgba(255,255,255, 0.4);
      }

      &.btn-github:hover {
        background-color: rgba(255,255,255, 0.2);
      }

      .brand {
        background-color: rgba(255, 255, 255, 0.1);

        .icon-github {
          background-image: url("/assets/images/icon-github-white.png");
          background-repeat: no-repeat;
        }

        .icon-google {
          background-image: url("/assets/images/icon-google-white.png");
          background-repeat: no-repeat;
        }
      }
    }
  }
}