@import '../../sass-import-once';

@import '../../styles-structure.scss';

@include exports('user-sign-in-structure') {
  .user-sign-in {
    align-items: center;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;

    .btn-container .btn .brand {
      height: 60px;
      width: 48px;

      .icon {
        display: block;
        height: 24px;
        margin: 18px 12px;
        width: 24px;
      }

      .icon-github {
        background-size: 24px 24px;
      }

      .icon-google {
        background-size: 24px 24px;
      }
    }

    .container.links {
      padding-top: 1em;
    }
  }
}