@import '../sass-import-once';

@include exports('copy-structure') {
  .copy.copied {
    &:before {
      content: '';
      left: calc(35%);
      position: absolute;
      top: calc(100%);
    }

    &:after {
      content: attr(aria-label);
      font-size: 12px;
      left: -8px;
      padding: 3px;
      position: absolute;
      top: calc(100% + 5px);
    }
  }
}