@import '../sass-import-once';

@include exports('spinner-structure') {
  .spinner {
    font-size: 10px;
    height: 40px;
    left: calc(50% - 20px);
    position: absolute;
    text-align: center;
    width: 50px;

    div {
      display: inline-block;
      height: 100%;
      width: 6px;
    }
  }
}