.wb {
  .draw-area {
    cursor: crosshair;
  }

  .toolbar {
    background-color: #32a8e6;
    border-color: gray;
    color: white;
    cursor: move;

    .toolbar-item {
      border-color: white;

      .toolbar-item-options {
        background-color: #32a8e6;

        .toolbar-item-option {
          color: white;
          cursor: pointer;

          &.active {
            border-color: white;
          }

          &.black {
            i {
              color: #000000;
            }
          }

          &.red {
            i {
              color: #ff0000;
            }
          }

          &.green {
            i {
              color: #00cc33;
            }
          }

          &.blue {
            i {
              color: #0000ff;
            }
          }

          &.yellow {
            i {
              color: #ffff00;
            }
          }

          &.orange {
            i {
              color: #ff9933;
            }
          }
        }
      }

      &.drag {
        .toolbar-item-value {
          cursor: move;
        }
      }

      .toolbar-item-value {
        cursor: pointer;

        &.active {
          border-color: white;
        }
      }
    }
  }
}