.wb {
  .draw-area {
    cursor: crosshair;
  }

  .toolbar {
    background-color: #32a8e6;
    border-color: gray;
    cursor: move;
    opacity: 0.9;

    .icon {
        fill: white;
      }

    .toolbar-item {
      border-color: white;

      .toolbar-item-options {
        background-color: #32a8e6;

        .toolbar-item-option {
          &.active {
            border-color: white;
          }

          &.black {
            .icon {
              fill: #000000;
            }
          }

          &.red {
            .icon {
              fill: #ff0000;
            }
          }

          &.green {
            .icon {
              fill: #00cc33;
            }
          }

          &.blue {
            .icon {
              fill: #0000ff;
            }
          }

          &.yellow {
            .icon {
              fill: #ffff00;
            }
          }

          &.orange {
            .icon {
              fill: #ff9933;
            }
          }
        }
      }

      &.drag {
        .toolbar-item-value {
          cursor: move;
        }
      }

      .toolbar-item-value {
        cursor: pointer;

        &.active {
          border-color: white;
        }
      }
    }
  }

  .map {
    background-color: white;
    border: 1px solid black;
    opacity: 0.9;
  }
}