@import '../sass-import-once';

@include exports('toolbar-structure') {
  .toolbar {
      align-items: center;
      border-radius: 4px;
      display: flex;
      height: 42px;
      padding: 2px;
      position: absolute;

      &.vertical {
        flex-direction: column;
        height: auto;
        padding: 2px;
        width: 42px;

        .toolbar-item {
          margin-bottom: 2px;
          margin-left: 0;
          margin-top: 2px;

          &:last-child {
            margin-right: 0;
          }

          .toolbar-item-options {
            flex-direction: row;
            left: 44px;
            padding: 4px;
            top: -4px;
            width: auto;

            .toolbar-item-option {
              height: 36px;
              width: 36px;
            }
          }
        }
      }

      .toolbar-item {
        display: flex;
        height: 38px;
        margin-left: 2px;
        position: relative;
        width: 38px;

        &:last-child {
          margin-right: 2px;
        }

        &.drag {
          position: absolute;
          right: 5px;
        }

        .toolbar-item-value {
          align-items: center;
          border-radius: 4px;
          border: 1px solid transparent;
          display: flex;
          justify-content: center;
          position: relative;
          width: 100%;

          .icon {
            font-size: 22px;
          }
        }

        .toolbar-item-options {
          align-items: center;
          border-radius: 4px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          left: -4px;
          margin: 0px;
          padding: 5px 0 5px 0;
          position: absolute;
          top: 44px;
          width: 48px;

          .toolbar-item-option {
            align-items: center;
            border-radius: 4px;
            border: 1px solid transparent;
            cursor: pointer;
            display: flex;
            height: 38px;
            justify-content: center;
            position: relative;
            width: 38px;
          }
        }
      }
    }
}