@import '../sass-import-once';

@import './toolbar-structure.scss';

@include exports('toolbar-user-structure') {
  .toolbar-user {
      right: 20px;
      top: 20px;

      &.vertical {
        .toolbar-item-options {
          flex-direction: column;
        }
      }

      .toolbar-item {
        .toolbar-item-value {
          .icon {
            &.icon-signed-in {
              height: 100%;
              width: 100%;
            }
          }
        }

        .toolbar-item-options {
          align-items: center;
          border: 1px solid #483D8B;
          left: -80px;
          width: 120px;

          .toolbar-item-option {
            justify-content: flex-start;
            width: 100%;

            a {
              color: white;
              font-weight: normal;
              width: 100%;
              height: 100%;

              .icon {
                height: 18px;
                margin-left: 5px;
                margin-right: 5px;
                width: 18px;
              }
            }
          }
        }

        a {
          align-items: center;
          display: flex;
          text-decoration: none;
        }
      }
    }
}