@import '../sass-import-once';

@import '../styles-skin.scss';
@import '../fonts/style.css';
@import '../map/skin.scss';
@import '../toolbar/tools/skin.scss';
@import '../toolbar/user/skin.scss';
@import '../toolbar/zoom/skin.scss';
@import '../modal/skin.scss';
@import '../spinner/skin.scss';
@import './erase-whiteboard/skin.scss';
@import './share-whiteboard/skin.scss';

@include exports('whiteboard-skin') {
  .wb {
    .draw-area {
      cursor: crosshair;
    }

    .modal-content {
      label {
        color:#0e141a;
      }

      input {
        background-color: white;
        border-color: #0E141A;
        border-radius: 4px;
        color: #0e141a;
      }
    }
  }
}