@import '../sass-import-once';

@import '../styles-structure.scss';
@import '../map/structure.scss';
@import '../toolbar/tools/structure.scss';
@import '../toolbar/user/structure.scss';
@import '../modal/structure.scss';
@import '../spinner/structure.scss';

@include exports('whiteboard-structure') {
  .wb {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;

    .draw-container {
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%;
    }

    .modal-content {
      width: 500px;

      input {
        border: 1px solid transparent;
      }

      .close {
        margin-right: 10px;
      }

      .container {
        max-width: inherit;
      }

      .btn-container {
        max-width: inherit;

        .btn {
          &:last-child {
            margin: 0 10px 0 4px;
          }
        }
      }

      .add-name-container {
        label {
          display: inline;
        }

        input {
          width: 22px;
        }
      }
    }
  }
}