@import '../sass-import-once';

@import '../styles-structure.scss';
@import '../map/structure.scss';
@import '../toolbar/tools/structure.scss';
@import '../toolbar/user/structure.scss';

@include exports('whiteboard-structure') {
  .wb {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;

    .draw-container {
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%;

      .draw-area {
        cursor: crosshair;
      }
    }
  }
}