.hidden {
  display: none;
}

.main-container {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.controls-container {
  position: fixed;
  top: 20px;
  left: 20px;
  zoom: 1;
}

.draw-container {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

@-ms-viewport{
  width: device-width;
}

.draw-area {
  background-image: url('canvas-background.jpeg');
  cursor: crosshair;
}