@import '../sass-import-once';

@import '../styles-structure.scss';

@include exports('user-profile-structure') {
  .profile {
    align-items: center;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}